.fa-check-square,
.fa-trash-alt{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-image: linear-gradient(90deg,#00FFFF,	#1E90FF);
    color: white;
    font-family: "Poppins",sans-serif;
    min-height: 100vh;
    max-width: 1000px;
} 

h1{
    font-size: 3rem;
    font-family: "Lobster",sans-serif;
    margin:1.5px;

}

h1,
form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,form button{
    margin:0px;
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button{
    color:#18f318;
    background: white;
    cursor: pointer;
    padding: 8px;
    transition: all 1s ease;
}

form button:hover{
    background:#20d320;
    color: ivory;
}

.Clear-All{
    padding: 0.5rem;
    font-size:1.5rem;
    background:white;
    color: black;
    border: none;
    font-family: "Fira Sans Extra Condensed",sans-serif;
    
}
.Clear-All:hover{
    background: #eb0d0d;
    color: white;
    font-family: "Fira Sans Extra Condensed",sans-serif;
    
}

.todoList{
    display: flex;
    justify-content:left;
    align-items: left;
}

.tasklist{
    min-width: 100%;
    list-style: none;
}

.taskinput{
    margin: 0;
    font-family: "Comic Sans MS";
    font-size: 1.5rem;
    

}

.task{
    margin:0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    font-family: "Comic Sans MS";
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100px;
    transition: all 0.5s ease;
}

.task li{
    flex:1;
}

.trash,.complete{
    background: #00FFFF;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: all 1s ease;
}

.complete{
    background:#32CD32	;
}

.trash{
    background: red;
}

.fall{
    transform: translateY(8rem) rotateZ(90deg);
    opacity: 0;
}

